<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright © Websolute spa. All rights reserved.
  ~ See LICENSE and/or COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Websolute\TransporterCron\Api\CronListInterface" type="Websolute\TransporterCron\Model\CronList"/>
    <type name="Magento\Cron\Model\ConfigInterface">
        <plugin name="transporter_push_jobs"
                type="Websolute\TransporterCron\Plugin\PushJobs"/>
    </type>
</config>
